*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto','sans-serifa' ;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

header {
    background-color:#192a56 ;
    padding-top: 16px;
    color: whitesmoke;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color:#575fcf ;
    padding: 16px 0;
    display: none;

}

.container {
    max-width:1024px ;
    width: 100%;
    margin: 0 auto;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: whitesmoke;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor:pointer ;

}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: whitesmoke;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
    
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-veiculos {
    flex-wrap: wrap;
}

.lista-veiculos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-veiculos li img {
    max-width: 100%;

}

.lista-veiculos li h3{
    margin: 16px 0;
}

.item-central {
    margin: 0 5%;
}

.lista-veiculos li button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: green;
    color: whitesmoke;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    
}

.lista-veiculos li button:active {
    transform: translateY(4px);
}

.price {
    margin: 12px 0;
    display: block;
}

.price del {
    color: grey;
    font-size: 14px;
}
